/* Layout */
@media (max-width: 768px) {
	/* Styles for mobile devices */
}

@media (min-width: 769px) and (max-width: 1024px) {
	/* Styles for tablet devices */
	.container {
		max-width: 768px!important;
		margin: 0 auto!important;
		padding: 0 20px!important;
	}
}

@media (min-width: 1025px) {
	/* Styles for desktop devices */
	.container {
		max-width: 1440px!important;
		margin: 0 auto!important;
		padding: 0 20px!important;
	}
}

@keyframes move {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(100px); /* Adjust distance as needed */
	}
	100% {
	  transform: translateX(0);
	}
}

.background_stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	animation: move 60s ease infinite;
}